# Анализ взаимодействия пользователей с карточками Яндекс.Дзен.

[Ссылка на Презентацию](https://disk.yandex.ru/i/-g69HoUPjMjgow)

[Ссылка на Дашборд](https://public.tableau.com/app/profile/evgenia.rogozova/viz/Yandex_Dzen_16887247543890/Yandex_Dzen)

In [3]:
!!pip install psycopg2

['Requirement already satisfied: psycopg2 in ./opt/anaconda3/lib/python3.9/site-packages (2.9.6)']

In [8]:
# импортируем библиотеки
import pandas as pd
from sqlalchemy import create_engine

db_config = {'user': 'praktikum_student', # имя пользователя
            'pwd': 'Sdf4$2;d-d30pp', # пароль
            'host': 'rc1b-wcoijxj3yxfsf3fs.mdb.yandexcloud.net',
            'port': 6432, # порт подключения
            'db': 'data-analyst-zen-project-db'} # название базы данных

connection_string = 'postgresql://{}:{}@{}:{}/{}'.format(db_config['user'],
                                                db_config['pwd'],
                                                db_config['host'],
                                                db_config['port'],
                                                db_config['db'])

engine = create_engine(connection_string)


query = '''
            SELECT * FROM dash_visits
        '''

In [12]:
# получение данных из БД
dash_visits = pd.io.sql.read_sql(query, con = engine)

In [15]:
# сохранение данных в датасет
dash_visits.to_csv('/Users/janeure/Desktop/prjct/dash_visits.csv', index=False)

In [13]:
# знакомство с данными
dash_visits.head()

   record_id item_topic source_topic age_segment                  dt  visits
0    1040597     Деньги         Авто       18-25 2019-09-24 18:32:00       3
1    1040598     Деньги         Авто       18-25 2019-09-24 18:35:00       1
2    1040599     Деньги         Авто       18-25 2019-09-24 18:54:00       4
3    1040600     Деньги         Авто       18-25 2019-09-24 18:55:00      17
4    1040601     Деньги         Авто       18-25 2019-09-24 18:56:00      27